@charset "utf-8";
/**
 * Created by LOLO on 2022/02/22.
 */


#generalIntroText {
    margin-left: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #606367;
}

.general-cts-layout {
    margin: 0 15px;
    width: calc(100% - 30px);
}

.general-cts-id {
    width: calc(100% - 60px);
}

.general-cts-rndId {
    margin-top: -15px;
    margin-left: 10px;
}


.general-cts-radios {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 80px 75px 70px;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.general-cts-radios-title {
    font-size: 18px;
    color: #757575;
    font-weight: 300;
}


.general-local-proxy-title {
    margin-top: 25px;
}

.general-local-proxy-ports {
    margin: 5px 15px 0;
}


.general-submit-layout {
    margin: 0 15px 10px;
}

.general-submit-layout > label {
    width: auto;
}

.general-submit-buttons {
    margin-top: 20px;
}

.general-submit-buttons > button:last-child {
    float: right;
}

