@charset "utf-8";
/**
 * Created by LOLO on 2022/02/23.
 */


.global-proxy-layout {
    height: 175px;
    margin: 5px 15px;
}

.global-proxy-switch {
    width: 80px;
    float: right;
}


.v2ray-core-title {
    margin-top: 10px;
}

.v2ray-core-version {
    display: block;
    margin: 0 3px;
    font-size: 12px;
    font-weight: 300;
    color: #606367;
}


.v2ray-core-update-layout {
    margin: 0 15px;
}

.v2ray-core-update-title {
    display: inline-block;
    margin: 15px 0;
    font-size: 16px;
}

.v2ray-core-last-updated {
    font-size: 12px;
    font-weight: 300;
    color: #606367;
}

#v2rayUpdateProgress {
    display: inline-block;
    margin-top: 17px;
    width: 270px;
}


